<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/bookshelf_icon-icons.com_54414.png" type="image/png" />
  <title>Biblioteca || Back - end</title>

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/modal.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/index.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <script src="scripts/index.js" defer type="module"></script>

</head>
<body>
  <header class="page-header">
    <div class="container">
      <section id="top" class="animate-up">
        <h2 class="sr-only">Biblioteca Homepage</h2>
        <img id="logo" src="/images/bookshelf_icon-icons.com_54414.png" alt="Logo" />
      </section>

      <div class="separator"></div>

      <section id="summary" class="animate-up delay-1">
        <h2 class="sr-only">Sumário</h2>

        <div class="info">
          <div class="total">
            <strong>12</strong>
            Total de livros
          </div>
          
        </div>
        <a class="button orange" href="/book">
          <span>
            <img src="/images/plus-24.svg" alt="Novo Job" /> 
          </span>
          Adicionar novo Livro
        </a>
      </section>
    </div>
  </header>
        <main>
            <div class="container">
                <div class="cards">
                  
                  <div class="card">
                      <div class="id column">1</div> 

                      <div class="photo column"><img src="https://i.imgur.com/UH3IPXw.jpeg" alt="Harry Potter"></div>

                      <div class="title column">
                        
                        <span>Titulo</span>
                        <p>Harry Potter</p>
                      </div>

                      <div class="authors column">
                        <span>Autor(es)</span>
                        <p>JK Rowling</p>
                        
                      </div>
                      
                      <div class="publisher column">
                        <span>Editora</span>
                        <p>Rocco</p>
                        
                      </div>
                      
                      <div class="actions column flex">
                        <p class="sr-only">Ações</p>
                        <a 
                          href="/book-edit" 
                          class="button white edit" 
                          title="Editar Livro">
                          <img src="/images/edit-24.svg" alt="Editar Livro" />
                        </a>
                        <button class="delete button white" title="Excluir Livro">
                          <img src="/images/trash-24.svg" alt="Excluir Livro" />
                        </button>
                      </div>
                  </div>
                  <!-- end card -->


                    
                </div>
                <!-- end cards -->
            </div>
            <!-- end container -->
        </main>
        <!-- end main -->

        <div class="modal-wrapper">
          <div class="modal">
            <img src="/images/trash-48.svg" alt="Excluir Livro" title="Excluir Livro" />
            <h3>Excluir Livro</h3>
            <p>Quer mesmo excluir esse livro? <br/>
            Ele será apagado para sempre.  
            <p>
            <footer>
              <a 
                class="button gray" 
                href="#">Cancelar</a>
              <button
                class="button red"
                type="submit"
                form="delete-book">Excluir Livro</button>
            </footer>
          </div>
          <form 
            method="post" 
            action="/book/delete" 
            id="delete-book"></form>
        </div>
        <!-- end modal-wrapper -->

</body>
</html>